http:
  middlewares:
    crowdsec:
      plugin:
        crowdsec:
          enabled: true
          crowdsecLapiAddress: "http://host.docker.internal:8081"
          crowdsecLapiKey: "BVq/1Xd/SsjYGoZ37Ll/dTXWPbomrg6+Xqj8PUHHNIg"
          updateIntervalSeconds: 60
          defaultDecisionSeconds: 60
